main#jogatina {
  // width: 1000px;
  // margin: 0 auto;

  display: flex;
  flex-direction: column;
  cursor: default;
}

section#partida {
  width: 100%;
  height: 70px;
  border-radius: 0;
  background-color: #FFFFFF;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    gap: 5px;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
}

button#antigo {
  height: calc(50vh - 60px);
  cursor: pointer;
  background-color: #4C76FF;
  border: none;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}

section#livro {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button#novo {
  height: calc(50vh - 60px);
  cursor: pointer;
  background-color: #4CB4FF;
  border: none;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}

section#informativos {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50px;
  left: 50px;

  div#contador {
    gap: 10px;
    display: flex;

    #quantidade-de-livros {
      font-weight: 600;
    }
  }
}

section#controles {
  display: flex;
  flex-direction: column;

  div#temporizador {
    z-index: 3;
    height: 30px;
    position: absolute;
    top: calc(50vh - 15px);
    transition: width 350ms ease-out;
  }

  button {
    width: 100vw;
    height: 50vh;
  }
}

@media screen and (max-width: 1000px) {
  main#jogatina {
    width: 100vw;
  }

  section#informativos {
    width: 100vw;
    padding: 20px;
    position: absolute;
    padding-right: 40px;
    top: 0px !important;
    left: 0px !important;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #contador {
      z-index: 3;
      width: 100px;
      height: 50px;
      border-radius: 25px;
      background-color: #F0F0F0;

      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      #quantidade-de-livros {
        font-weight: 600;
      }
    }

    #nome-do-livro-atual {
      z-index: 3;
      color: white;
      font-weight: 400;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  section#controles {
    display: flex;
    flex-direction: column;
    position: relative;

    button {
      height: 50vh;
      font-size: 24px;
      font-weight: 900;
      font-family: "Playfair Display", sans-serif;
    }

    #temporizador {
      z-index: 3;
      height: 30px;
      position: absolute;
      top: calc(50vh - 15px);
      transition: width 350ms ease-out;
    }
  }
}