main#inicio {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  gap: 30px;
  display: flex;
  flex-direction: column;

  h1 {
    gap: 20px;
    display: flex;
    align-items: center;
    cursor: default;
  }
  
  section {
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px -5px gray;
    cursor: default;

    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

section#colocacao {
  ul {
    padding: 0 !important;
    gap: 2px;
    display: flex;
    flex-direction: column;

    li {
      gap: 5px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      text-transform: capitalize;

      span:first-child {
        width: 35px;
        height: 25px;
        font-size: 12px;
        background-color: #b1deff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
    }
  }
}
#jogar {
  #nome-jogador {
    gap: 10px;
    display: flex;
    flex-direction: column;

    input {
      padding: 10px 20px;
      border-radius: 10px;
      outline-color: #000000;
      text-transform: capitalize;
      border: 1px solid #565656;
    }

    button {
      width: 150px;
      height: 40px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 10px;
      background-color: #4CB4FF;
      border: 1px solid #368dcb;
    }
  }
}

#desenvolvedor {
  #info-desenvolvedor {
    gap: 20px;
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }

    div {
      gap: 0;
      display: flex;
      flex-direction: column;
      font-size: 16px;

      h2 {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main#inicio {
    gap: 20px;
    width: 100vw;
    padding: 40px 20px;
  
    h1 {
      gap: 10px;
      font-size: 18px;
    }

    #logo {
      width: 24px;
    }
  
    section {
      padding: 20px;
      font-size: 14px;
      line-height: 1.2;

      h3 {
        font-size: 16px;
      }
    }
  }
}